<!-- <div class="card mainBody">
<img class="img-responsive" src="{{flag}}"
                  alt="Country Flag">
              <div class="avatar">
                  <img class="img-responsive" src="https://d3fa68hw0m2vcc.cloudfront.net/a82/78454247.jpeg" alt="Region Map">
              </div>
              <div class="info">
                  <div class="title">Country:
                      {{countryName}}
                  </div>
                  <div class="desc">Capital: {{capitalName}}</div>
                  <p *ngIf="languages.length!=undefined && languages.length>0">
                    Languages:  <span *ngFor="let language of languages; let first=first; let last=last"> {{language.name}}{{last ? '' : ', '}}</span>
                  </p>
                  <p *ngIf="currencies.length!=undefined && currencies.length>0">
                    Currency:  <span *ngFor="let currency of currencies; let first=first; let last=last"> {{currency.name}}{{last ? '' : ', '}}</span>
                  </p>                  
              </div>
            </div> -->